# fly.toml app configuration file generated for fiszki-app on 2026-02-04T22:28:02+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fiszki-app'
primary_region = 'fra'

[build]
  dockerfile = "Dockerfile"

[env]
    PORT = "5000"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = "shared"
  memory = '256mb'
  cpus = 1
  memory_mb = 256
